<div class="row">
  <div class="col-2" style="background-color: #060817; border-right: 1px solid rgb(24, 21, 21); position: fixed; height: 100vh;">
    <img src="../assets/images/prayaas.png" class="img-fluid mx-4 my-5 img-responsive" width="70%">
    <div>
      <nav class="navbar pl-2 pr-0">
        <ul class="navbar-nav">
          <li class="nav-item nav-menu-item">
            <a class="nav-link" href="#"><i class="fa fa-home"
                style="padding-right: 20px; font-size: 19px;"></i>Dashboard</a>
          </li>
          <li class="nav-item nav-menu-item">
            <a class="nav-link " href="#"><i class="fa fa-user"
                style="padding-right: 22px; font-size: 20px;"></i>Students</a>
          </li>
          <li class="nav-item nav-menu-item">
            <a class="nav-link " href="#"><i class="fa fa-graduation-cap"
                style="padding-right: 15px;font-size: 16px;"></i>Volunteers</a>
          </li>
          <li class="nav-item nav-menu-item">
            <a class="nav-link" href="#"><i class="fa fa-address-card"
                style="padding-right: 18px;font-size: 15px;"></i>Supporters</a>
          </li>
          <li class="nav-item nav-menu-item">
            <a class="nav-link" href="#"><i class="fa fa-tint" style="padding-right: 21px;font-size: 22px;"></i>Blood
              Donors</a>
          </li>
          <li class="nav-item nav-menu-item">
            <a class="nav-link" href="#"><i class="fa fa-cog"
                style="padding-right: 19px;font-size: 18px;"></i>Settings</a>
          </li>
          <li class="nav-item nav-menu-item">
            <a class="nav-link" href="#"><i class="fa fa-user"
                style="padding-right: 20px;font-size: 18px;"></i>Profile</a>
          </li>
          <li class="nav-item nav-menu-item">
            <a class="nav-link" href="#"><i class="fa fa-sign-out"
                style="padding-right: 17px;font-size: 18px;"></i>Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>