/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    background-color: #060817;
}

* {
    margin: 0;
    /* font-family: 'Baloo Paaji 2', cursive; */
    font-family: 'Nunito', sans-serif;
}